.box__list{
    display: flex;
    list-style: none;

    .box__text{
        width: 540px;
        color: #333D4B;
        font-family: "Barlow";
        font-size: 16px;
    }

    .box__item:nth-child(2){
        padding-left: 100px;
        padding-top: 60px;
    }

    .box__heading2{
        color: #333D4B;
        font-family: "Fraunces 9pt";
        font-size: 40px;
    }
}